<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon name="{{currentMenu.icon}}"></ion-icon>&nbsp;&nbsp;{{currentMenu.name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button icon-start full *ngFor="let item of currentMenu.items" (click)="InvokeMenuItem(item)">
    <ion-icon *ngIf="item.icon" name="{{item.icon}}"></ion-icon>
    <img *ngIf="item.image" src="{{item.image}}" style="max-width: 24px; margin-right: 3px">
    {{item.name}}
  </button>
</ion-content>